@keyframes open-menu {
	0% {
		opacity: 0;
		transform: scaleY(0);
	}
	100% {
		opacity: 1;
		transform: scaleY(1);
	}
}
@keyframes close-menu {
	0% {
		opacity: 1;
		transform: scaleY(1);
	}
	100% {
		opacity: 0;
		transform: scaleY(0);
	}
}
@keyframes arrow-close {
	from {
		transform: rotateX(180deg);
	}
	to {
		transform: rotateX(0);
	}
}
@keyframes arrow-open {
	from {
		transform: rotateX(0);
	}
	to {
		transform: rotateX(180deg);
	}
}
