@import 'colors';

.form-switch .form-check-input {
  border-color: transparent;
  background-color: #838383;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
  outline: none;
  height: 20px;
  width: 40px;
}
.form-switch .form-check-input:focus,
.form-switch .form-check-input:active { 
  outline: none;
  box-shadow: $mark_color;
}
.form-switch .form-check-input:checked {
  outline: none;
  background-color: $mark_color;
  border-color: $mark_color;
  border: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}